

  <%#<%sleep 2%>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
       <p>
        <h1 class="header">About us</h1>
        Bike Switzerland has been operating guided and independent tours across Switzerland since 2004. 
        Our company started shipping high quality rental bikes across Switzerland in 2009.
        In 2012 we opened a full-service bicycle shop in the centre of Geneva that specialises in road cycling.</p>
        <p>
          <h3>Sales</h3>
          Clients are often unsure of which road bike geometry is best for them. 
          Since we rent bikes, we always try to get clients to ride a few different models and sizes before making a decision to determine which bike is right for them. 
        </p>
        <p>
          <h3>Our Used Bikes</h3>
          Every year we sell off our rental bikes. 
          Some bikes may have scratches or minor cosmetic damage, but they’re all sold with good tires, brake pads and a 30-day gaurantee. Although based in Geneva, we ship new and used bikes all over Switzerland for 20 chf per bike.
          Anyone looking to rent a bike in Switzerland from us should check out our rentals website. 
        </p>
        <p>
          <h3>Our Season</h3>
          As most of our business is bicycle tours and rentals, we close our doors from November until the beginning of March each year. 
          However, we continue to do sales on-line at this time. 
        </p>
        <p>
          <h3>Our Club</h3>
          Our shop has a very active club with organised rides every Thursday and Saturday from March through October. 
          When possible, we divide into two groups to make sure everyone rides at a comfortable pace.
        </p>
        <p>
          <h3>Our Tours</h3>
          Our tours cater to international riders wanting to discover Switzerland by bicycle. 
          owever, each year we have Swiss riders and locals joining us.
        </p>
      </div>
      <div class="col-sm-4">
        <%=image_tag "ride-experience-explore.png", class:"img-responsive img_quote_index"%>
      </div>
    </div>
  </div>
