
<div id="wrapper">
  <div class="container contact_details">
    <div class="row">
      <div class="col-sm-8">
         <p>
          <h1 class="header">Contact us</h1>
          <span class="glyphicon glyphicon-phone-alt"> 078-601-6957</span><br><br>
          <span class ="glyphicon glyphicon-earphone"> Toll free: 0800-0000</span><br><br>
          <span class="glyphicon glyphicon-envelope"> info@berlinbike.com</span>
         </p>
      </div>
      <div class="col-sm-4">
        <%=image_tag "ride-experience-explore.png", class:"img-responsive img_quote_index"%>
      </div>
    </div>
  </div>
</div>
