<div class="wrapper">
  <p id="notice"><%= notice %></p>
  <h1 class="product_header container">Orders</h1> 
  <div class="container">
    
    <% @orders.each do |order| %>
      <div class="row">
        <div class="col-xs-12 col-sm-6 products">
          Product ID: <%= order.product_id %> <br>  
          Total: <%= order.total%>
        </div>     
      </div>
    <% end %> <br><br>
    
  </div> 
  
</div>