<div class="container">
  <%#PRODUCT HEADER%>
  <h1 class="product_header">Add New Product</h1>
  
  <%#LINK TO OTHER PRODUCT CONTROLLER%>
  <%= render 'form', product: @product %>
  <%= link_to 'Back', products_path %>
</div>